\.metadata/
\.RemoteSystemsTempFiles/
Workspace/Scrapbook/
Workspace/Servers/
Workspace/Acme-Handy-Worker/target/
Workspace/Acme-Handy-Worker/src/main/resources/Entities.map\
Workspace/Acme-Handy-Worker/.classpath
RemoteSystemsTempFiles
Workspace/Acme-Handy-Worker/.settings/org.eclipse.wst.common.component
*.component
