\.metadata/
\.RemoteSystemsTempFiles/
\Workspace/Scrapbook/
\Workspace/Servers/
RemoteSystemsTempFiles
\Workspace/Acme-Handy-Worker/target/
\Workspace/Acme-Handy-Worker/src/main/resources/Entities.map
\Workspace/Acme-Handy-Worker/.classpath